@font-face {
	font-family: Pacifico;
	src: url("fonts/Pacifico/Pacifico-Regular.ttf");
}

body {
	margin: 0;
	padding: 0;
	background-color: #11c0c0;
}

.triangle-ltop {
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 55px solid transparent;
	border-top: 80px solid rgb(98, 36, 88);
}

header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
}
h1,
h2 {
	margin: 0;
	padding: 0;
	font-family: Pacifico, sans-serif;
}

h1 {
	color: rgb(98, 36, 88);
}
h2 {
	color: rgb(152, 73, 155);
	font-weight: 200;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	margin-top: 100px;
	padding: 0;
}

.alphabets {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.alphabet {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	padding: 2px;
	margin: 2px;
	width: 20px;
	height: 20px;
}
.strike {
	/* text-decoration: line-through; */
	color: rgb(98, 36, 88);
	border: 1px solid rgb(98, 36, 88);
	font-weight: bold;
	background: linear-gradient(
		to left top,
		transparent 47.75%,
		currentColor 49.5%,
		currentColor 50.5%,
		transparent 52.25%
	);
}

li {
	list-style-type: none;
}

.guessWord {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: 0;
}

.letterListUL {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.letter {
	display: flex;

	justify-content: center;
	align-items: center;
	height: 80px;
	width: 80px;
	font-size: 40px;
	border: 1px solid darkred;
	margin: 3px;
}

.invisible {
	visibility: hidden;
}

.triesContainer {
	font-family: Pacifico, sans-serif;
	font-size: 30px;
	margin: 0;
}

.tries {
	font-size: 50px;
	font-family: Pacifico, sans-serif;
}

.result {
	margin: 5px;
	display: flex;
	justify-content: center;
	font-family: Pacifico, Verdana, sans-serif;
	color: rgb(98, 36, 88);
}

.button {
	border-radius: 10px;
	font-family: Pacifico, Verdana, sans-serif;
	background-color: rgb(98, 36, 88);
	color: #11c0c0;
	margin: 0;
}

@media only screen and (min-width: 768px) {
	.main {
		margin-top: 50px;
	}
	.alphabet {
		border: 1px solid black;
		padding: 2px;
		margin: 2px;
		width: 30px;
		height: 30px;
		text-align: center;
	}

	.guessWord {
		width: 100%;
	}
	.letter {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 120px;
		width: 120px;
		font-size: 50px;
		border: 1px solid darkred;
		margin: 3px;
	}

	.result {
		margin: 5px;
		display: flex;
		justify-content: center;
		font-size: xx-large;
		font-family: Pacifico, Verdana, sans-serif;
		color: rgb(98, 36, 88);
	}
}
